<!DOCTYPE html>
<html>

<head>
<title> carrer guide </title>
</head>
<body>
<h1>CARRER GUIDE</h1>

<img src = "http://127.0.0.1:5000/static/jason-leung-F2WX4BTIkpQ-unsplash.jpg" height ='500'>
 
<h2>About carrer guide</h2>
<p>
    **Join Our Team & Build Your Future!**  

At [Your Company Name], we believe in **innovation, growth, and excellence**. We are always looking for passionate individuals who want to make a difference. Whether you're a **fresh graduate** or an **experienced professional**, we offer opportunities that empower you to learn, lead, and succeed.  

Join us and be part of a dynamic team that values **creativity, collaboration, and career development**. Explore our open positions and take the next step toward an exciting future! 🚀  

**📩 Apply Now & Grow With Us!**
</p>

<h2>Open positions</h2>
<p> TODO - show the jobs here </p>
<button>Contact Us </button>
</body>
</html>